html,
body {
  height: 100%;
  background-color:#025fa4 !important; 
  color: white;
}

#login-card{
  background-color: white;
}

#login-title{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

#login-button{
  background-color:#025fa4;
}

.swal2-icon {
  margin-right: 10px !important; /* Adjust the margin value as needed */
}